{% extends "layout/sidebar.html" %}
{% load static %}
{% block title %}Cargos{% endblock %}

{% block content %}

    <script>
        const body = document.querySelector('body')
        const h1 = document.querySelector('h1')

        window.getDRFHtml('http://127.0.0.1:8001/api/cargos/').then(html => {
            body.innerHTML = html
        }).catch(err => {
            console.error("Error cargando HTML de DRF:", err)
            location.href = 'http://127.0.0.1:8000/usuarios/cargo/'
        })
    </script>
    {% endblock %}

