{% extends "layout/sidebar.html" %} /* Hereda la estructura llamada "sidebar.html" */
{% load static %}
{% block title %}ID Planta{% endblock %}

{% block content %}

 

  <!-- Modal para crear IDP -->
  
  <h1 class="text-4xl font-bold mb-6 ms-5">IDPs</h1>


   <!-- Buscador -->
  <div class="flex items-center w-full max-w-8xl mb-6 border rounded-full px-8 py-3 shadow-sm">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.5 3a7.5 7.5 0 016.15 13.65z" />
  </svg>
  <form id="buscar-idp" class="grid items-center relative w-full m-0">
  <input id="numero" name="numero" type="text" placeholder="Ingrese IDP" class="flex-1 px-3 focus:outline-none text-gray-700 w-full"/>
  <button 
      id="btnBuscar" 
      class="ml-3 px-8 py-3 bg-blue-600 hover:bg-blue-700 text-white rounded-br-[30px] rounded-tr-[30px] absolute -right-8 ">
      Buscar
    </button>
    </form>
</div>

<!-- Campo ID Planta -->
<div class="mb-5">
  <label class="block text-lg font-medium text-gray-700 mb-1">ID Planta</label>
  <div class="w-64 border-b-2 border-green-500"></div>
</div>

<!-- Botones -->
<div class="flex justify-end gap-3 mb-5 -mt-6">
  <button id="load_excel" class="px-4 py-2 border border-green-600 text-green-600 rounded-full hover:bg-green-600 hover:text-white transition">
    Cargar Excel
  </button>
<!--    -->
  <div class="inline">
    <button  id="crear-idp" type="button" class="px-4 py-2 border border-green-600 text-green-600 rounded-full hover:bg-green-600 hover:text-white transition">
      Crear Nuevo 
    </button>
  </div>
</div>

<!-- Tabla -->
<table class="min-w-full table-auto border-collapse">
  <thead>
    <tr class="text-white bg-blue-900">
      <th class="px-4 py-2 border">ID Planta</th>
      <th class="px-4 py-2 border hidden md:table-cell">Fecha Creación</th>
      <th class="px-4 py-2 border">Estado de IDP</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


  <!-- fin tabla -->

  <!-- Modal -->
  <div id="modalExcel" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50">
    <div class="bg-white rounded-lg shadow-lg w-96 p-6 relative">
      <!-- Botón cerrar -->
      <button id="closeModal" class="absolute top-2 right-3 text-gray-600 hover:text-black text-xl font-bold">×</button>

      <h2 class="text-lg font-semibold mb-4">Ingrese Archivo Excel</h2>

      <!-- Input archivo -->
      <label class="flex items-center cursor-pointer">
        <span class="px-4 py-2 bg-blue-900 text-white rounded">Subir Excel</span>
        <input type="file" accept=".xlsx,.xls" class="hidden" id="file-input" />
        <span id="fileName" class="text-gray-600 bg-gray-200 px-1 py-1 rounded w-48">Ningún archivo</span>
      </label>
      <div class="grid">
        <button id="upload-excel" class="bg-blue-900 active:bg-blue-900 hover:bg-blue-600  text-white rounded px-5 py-1 mx-auto mt-5">
          Subir
        </button>
      </div>

    </div>
  </div>

  <!-- Script para abrir el modal input excel--> 
  <script>
    const load_excel = document.getElementById('load_excel');
    const closeModal = document.getElementById('closeModal');
    const modalExcel = document.getElementById('modalExcel');
    const fileInput = document.getElementById('file-input');
    const fileName = document.getElementById('fileName');

    load_excel.addEventListener('click', () => {
      modalExcel.classList.remove('hidden');
      modalExcel.classList.add('flex');
    });

    closeModal.addEventListener('click', () => {
      modalExcel.classList.add('hidden');
    });

    // Mostrar nombre del archivo seleccionado
    fileInput.addEventListener('change', (e) => {
      fileName.textContent = e.target.files[0]?.name || "Ningún archivo";
    });
  </script>


<script defer type="module" src="{% static "js/idps.js" %}"></script>
<script defer type="module" src="{% static "js/acciones.js" %}"></script>
<script defer type="module" src="{% static "js/excel.js" %}"></script>
  {% include "./newidp_modal.html" %}

{% endblock %}
