<div class="new-idp-modal fixed -ms-6 -mt-8 w-screen h-screen bg-black/60 hidden z-10">
  <!-- Formulario -->
  <div class="w-full h-full grid justify-center items-center">
      <div class="flex">
        <h3 class="text-3xl font-bold mb-4">Creación de IDP </h3>
      </div>

      <div class="grid grid-row gap-6 mb-10">
    <form id="crear-nueva-idp" class="  min-w-2/4 w-fit h-fit bg-gray-100 p-8 rounded-md shadow fixed left-[43%]">
          <label class="font-medium mb-1 flex">
            <p class="text-red-600 text-[19px] me-1">*</p>Codigo IDP:
          </label>
          <input 
            id="numero"
            type="text" 
            class="w-full border border-gray-600 rounded-2xl px-3 py-2 text-gray-900 placeholder-gray-400 
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <label class="block font-medium mb-1">Fecha Creación:</label>
          <input
            id="fecha"
            type="date" 
            class="w-full border border-gray-600 rounded-2xl px-3 py-2 text-gray-900 placeholder-gray-400 
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>
      </div>

      <!-- Botones -->
      <div class="flex flex-col items-center gap-2">
        <buton  type="submit" class="bg-green-600 text-white px-6 py-2 rounded-full font-semibold hover:bg-green-700 transition">
          Gutardar
        </buton>
    </form>

        <!-- Botón Volver --> 
        <button type="button" class="close relative -top-0 text-red-600 border border-red-600 rounded-full px-7 py-1 hover:bg-red-600 hover:text-white transition">
          Cerrar
        </button>
      </div>
  </div>
</div>
<script>
  //Logica cerrar modal
  

</script>